.page_service_content_section {
    height: 400px;
    width: 100%;
    background-color: bisque;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_service_content_section h2 {
    font-size: 12px;
}

.t2_controlh {
    margin-top: 67px;
}

.add_item_section {
    position: relative;
    top: 105px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}