.service1, .service2, .service3, .service4 {
    /* height: 650px;
    width: 96%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    top: 55px; */

}

.bac_services {
    height: 650px;
    width: 96%;
    /* background-color: rgb(233, 234, 237); */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    /* top: 55px; */

}

.service-child {
    width: 48%;
    height: 98%;
    /* background-color: azure; */
}

.service-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.service-text-content {
    font-size: 20px;
    padding: 38px;
    padding-top: 5px;
}

.service-text-content li {
    margin-bottom: 20px;
    font-family: "Playwrite GB S", cursive;
}

.padding_left_el {
    padding-left: 20px;
}

.left-side {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.service1 .left-side {
    /* background-color: #ff319c; */
    
}

.leave_a_message {
    width: 64px;
    height: 64px;
    background-color: rgb(4, 2, 15);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
}
.leave_a_message:hover{
    cursor: pointer;
    opacity: .6;
}

.message_form {
    width: 300px;
    height: 400px;
    background-color: rgb(4, 2, 15);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
    margin-right: 35px;
    border-radius: 6px;
    color: #fff;
    z-index: 100;
}

.close_message_section {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 5px;
    margin-top: 5px;
    height: 37px;
    width: 37px;
    background-color: #fff;
    border-radius: 50%;
    border: 0px;
}

.msg_input {
    width: 250px;
    height: 37px;
    margin-bottom: 15px;
    font-size: 12px;
    padding-left: 10px;
}

.form_validation {
    width: 180px;
    height: 48px;
    position: relative;
    margin-left: 40px;
    border-radius: 6px;

}

.b-none {
    display: none;
}

.video_main_zone {
    /* padding-top: 67px; */
}

.w3-padding-32, .w3-padding-16, .w3-padding-large, .w3-grey, .w3-dark-grey, .w3-padding-24 {
    display: none;
}

.logo_name {
    font-size: 30px;
}


#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .overlaybd {
      height: 400px;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      z-index: 100
  }

  .video-bg {
      height: 100%;
      width: 100%;
  }

  .section7 {
    height: 400px !important;
    width: 100%;
    /* margin-top: 100px; */
    overflow: hidden;
}

.vid_text_section {
    position: absolute;
    z-index: 107;
    font-size: 27px;
    color: #fff;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service-child img {
    height: inherit;
}

.transition2 {
    background-image: url('../public/images/services/montage_video.jpg');
}

.transition2_content {
    height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}



.section4 {
    height: 410px;
    width: 100%;
    background-color: #ccc;
    /* margin-top: 100px; */
}

.curve {
  position: absolute;
  bottom: 0;
}

path {
    fill: #fff;
}

.section_trans1 {
    background-image: url(https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_1280.jpg);
    background-position: center center;
    background-size: cover;
    /* background-color: #ff319c; */
    background-blend-mode: multiply;
    width: 100%;
    height: 410px;
    position: relative;
  }

  .section2s {
    display: none;
  }

  .power_point {
    /* background-color: #ff319c; */
    background-image: url('/public/images/preao-logiciel-presentation-diaporama.jpg');
  }

  .saisie_rapport {
    /* background-color: #ff319c; */
    background-image: url('/public/images/memoire_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  }

  .service-title h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

  .service-title h2::before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }

  .service-title h2::after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  .back_service_overview p {
    font-family: cursive;
    font-style: normal;
    font-size: 18px;
    text-align: center; 
    color: grey;
  }

  button {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    margin: .1em;
  }

  button {
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    --c: #ffffff;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  button:hover,
  button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  button:active {
    background: var(--c);
    color: #fff;
  }

  .curved_transition {
    margin-bottom: 150px;
  }

  .bac_services {
    margin-bottom: 150px;
  }

  .background_video {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: translate(-50%, -50%); */
}

.test_class {
  /* background-color: red; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.video_banier_section {
  height: 450px;
  width: 100%;
/* background-color: #b80000; */
/* display: flex;
align-items: center;
justify-content: center; */
}

.video_page_bg {
  position: relative;
}

.t2_control {
  /* background-color: #742525;
  
  background-image: url('../public/images/services/montage_video.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.presentation_header_bg {
  background-color: #742525;
  background-image: url('../public/images/preao-logiciel-presentation-diaporama.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flyers_header_bg {
  background-color: #742525;
  background-image: url('../public/images/Professional-Web-Banner-AD-in-Photoshop-scaled.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.website_header_bg {
  background-color: #742525;
  background-image: url('../public/images/10-conseils-creation-site-internet-efficace.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textedit_header_bg {
  background-color: #742525;
  background-image: url('../public/images/memoire_photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carte_visit_header_bg {
  background-color: #742525;
  background-image: url('../public/images/businesscards-carrousel1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-bg {
 background-color: rgba(0, 0, 0, 0.5);
}

.hidden_menu_icon {
    /* display: none; */
}

@media (max-width:768px){
    /* .w3-modal-content{width:500px}.w3-modal{padding-top:50px}
    . */
    .bac_services {
        flex-direction: column !important;
    }

    .service-child {
        width: 100% !important;
        height: 98% !important;
        min-height: 350px !important;
        /* background-color: azure; */
    }

    .bac_services {
        height: auto !important;
    }

    .container ul {
        display: none;
    }

    .hidden_menu_icon {
        display: block;
    }

    .hidden_menu_icon .fab {
        font-size: 40px;
        color: #fff;
    }
    
}

.b_helper {
  font-size: 14px;
  background-color: #742525;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b_helper:hover{
  cursor: pointer;
}